body {
    background-image: linear-gradient(black, rgb(18, 18, 129), black);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 100vh;
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
    color: gainsboro;
    font-family: sans-serif;
}
h1 {
    text-align: center;
    padding: 10px;
    font-weight: bolder;
    font-size: 50px;
}

.login {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    border: 1px solid blue;
    padding: 25px;
    width: 50%;
    margin: auto;
    margin-top: 15px;
    background-image: linear-gradient(to right, black, blue);
}
.login h2 {
    font-weight: bolder;
    text-align: center;
    font-size: 30px;
}

form {
    display: flex;
    flex-direction: column;
}
form input {
    padding: 15px;
    border-radius: 7px;
    outline: none;
    margin-top: 7px 0;

}
form input:focus {
    border: 3px solid blue;
}
form button {
    padding: 20px;
    background-image: linear-gradient(to right, blue, black);
    border: none;
    border: 1px blue;
    color: gainsboro;
    text-transform: uppercase;
    font-weight: bolder;
    border-radius: 7px;
    margin-bottom: 10px;
}
form button:hover {
    background-image: linear-gradient(to right, black, blue);
    border: 1px solid blue;
}
form input::placeholder {
    font-style: italic;
}
.login .wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}
.login .remember {
    padding: 10px 0;
}

/* MEDIA QUERY */

@media only screen and (max-width: 900px) {
    .login {
        width: 70%;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 648px) {
    .login {
        width: 80%;
        margin-top: 50px;
    }
}

@media only screen and (max-width: 450px) {
    .login {
        width: 90%;
        padding: 15px;
        margin-top: 10px
    }
    form input {
        padding: 10px;
        margin-top: 5px;
    }
    form button {
        padding: 10px;
    }
    .login h2 {
        font-size: 20px;
    }
}
@media only screen and (max-width: 350px) {
    .login {
        padding: 5px;
    }
    form input {
        padding: 7px;
    }
    form button {
        padding: 7px;
    }
}